//COLORS
//green
$green: #0EC261;
$second-green: #039F67;
$dark-green: darken($green, 10%);
$dark-second-green: darken($second-green, 10%);
$very-dark-green: darken($green, 20%);
$very-dark-second-green: darken($second-green, 20%);

//black
$black: #121212;
$black-blue: #151B1F;

//gray
$gray: #999999;
$gray-light: #EEEEEE;

//white
$white: #ffffff;

//GRADIENTS
//green
$grad-green: linear-gradient(90deg, $green 2.61%, $second-green 112.6%);
$grad-dark-green: linear-gradient(90deg, $dark-green 2.61%, $dark-second-green 112.6%);
$grad-very-dark-green: linear-gradient(90deg, $very-dark-green 2.61%, $very-dark-second-green 112.6%);
