@font-face {
  font-family: 'Roboto';
  src: url(../../content/fonts/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../content/fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../content/fonts/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../content/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

$roboto: 'Roboto', sans-serif;