@use '/src/sass/tools' as *;

.main {
  flex: 1 1 auto;
  padding: 0px 16px 16px 64px;

  @include media($xl) {
    padding: 32px;
  }

  @include media($md) {
    padding: 2rem 0rem;
  }
}

.title {
  margin-top: 15vh;
  font-size: 4.375rem;
  line-height: 66px;

  &_green {
    color: $green;
  }

  @include media($xl) {
    margin-top: 10vh;
  }

  @include media($md) {
    margin-top: 0;
    font-size: 2rem;
  }
}

.text {
  margin-top: 34px;
  font-size: 1.6rem;
  font-weight: 300;
  color: $gray;
  line-height: 30.47px;

  @include media($md) {
    margin-top: 1rem;
    font-size: 1rem;
    padding: 0 1rem;
  }
}

.button {
  margin-top: 60px;

  @include media($md) {
    margin-top: 2rem;
    width: 100%;
    border-radius: 0;
  }
}