@use '/src/sass/tools' as *;

.footer {
  @include flex(space-between,center,_);
  padding: 0 2rem 3rem 2rem;

  span {
    color: $gray;

    @include media($md) {
      margin-top: 0.5rem;
      order: 1;
    }

    @include media($md) {
      color: $gray-light;
    }
  }

  a {
    text-decoration: none;
    color: $black;
    @include transition(0.2s,0s);
    &:hover {
      color: $green;
      @include transition(0.2s,0s);
    }

    @include media($md) {
      color: $green;
    }
  }

  @include media($md) {
    @include flex(_,flex-end,column);
    padding: 1rem 1rem 1rem 1rem;
    background-color: $black-blue;
    font-size: 0.75rem;
  }
}
