@use '/src/sass/tools' as *;

.label {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 300;
}


.input {
  width: 224px;
  margin: 0px 0px 0px 8px;
  border-bottom: 1px solid $gray;
  padding: 0px 0px 3px 8px;
  font-size: 0.875rem;
  font-weight: 300;
  color: $black;
  &::placeholder {
    color: $gray;
  }
  &[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    background: url("../../../../content/svg/clear-button.svg");
  }
}
