@use '/src/sass/tools' as *;

.checkout {
  @include flex(_, _, column);
  flex: 0 0 320px;
  padding: 32px 0px 0px 32px;
  border-left: 1px solid $gray-light;

  @include media($lg) {
    flex: 0 0 auto;
    padding: 32px 0px 32px 0px;
    border-left: none;
  }
}

.header {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  font-weight: 500;
  text-align: right;
  @include media($md) {
    text-align: left;
  }
}

.details {
  margin-top: 26px;
}

.row {
  margin-top: 16px;
  @include flex(space-between, flex-end, _);
  font-size: 0.875rem;
  font-weight: 300;

  span {
    &:first-child {
      flex: 0 1 auto;
    }

    &:nth-child(2) {
      flex: 1 1 auto;
      border-bottom: 1px dotted $gray;
      margin: 0px 11px 0px 11px;
    }

    &:last-child {
      text-align: right;
      @include media($lg) {
        flex: 0 1 auto;
      }
      @include media($md) {
        flex: 0 1 150px;
      }
    }
  }

  &:first-child {
    margin-top: 0;
  }
}

.price {
  margin-top: 32px;
}

.button {
  margin-top: 32px;
  @include media($md) {
    margin-top: 16px;
  }
}