@use '../../../../sass/tools' as *;

.slider {
  position: relative;
  flex: 0 1 50%;
  overflow: hidden;
  z-index: -1;

  @include media($xl) {
    flex: 0 1 30%;
  }

  @include media($lg) {
    display: none;
  }
}

.content {
  @include flex (_,_,_);
  height: 100%;
  @include transition(0.5s,0s);
}