@use '/src/sass/tools' as *;

.list {

  li {
    display: inline;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1rem;
    color: $gray;
    @include transition(0.2s, 0s);
    cursor: pointer;

    @include media($md) {
      line-height: 1.5rem;
    }

    &::after {
      content: url("../../../../../content/svg/arrow.svg");
      margin: 0 16px;
      @include media($md) {
        margin: 0 8px;
      }
    }

    &:last-child {
      &::after {
        content: '';
      }
    }

    &:hover {
      color: $green;
      @include transition(0.2s, 0s);
    }

    &.active {
      color: $green;
    }
    &.available {
      color: $black;
    }
  }
}