@use '/src/sass/tools' as *;

.navigation {
  padding: 8px 0;
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
}

.list {

  li {
    display: inline;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1rem;
    color: $gray;
    @include transition(0.2s,0s);
    cursor: pointer;
    &::after {
      content: url("../../../../../content/svg/arrow.svg");
      margin: 0 16px;
    }
    &:last-child {
      &::after {
        content: '';
      }
    }
    &:hover {
      color: $green;
      @include transition(0.2s,0s);
    }

    &.active {
      color: $green;
    }
  }
}