@use '/src/sass/tools' as *;

.header {
  @include flex(space-between,center,_);
  padding: 2rem 4rem 2rem 4rem;

  @include media($xl) {
    padding: 2rem 2rem 2rem 2rem;
  }

  @include media($md) {
    @include flex(_,flex-end,column);
    padding: 1.5rem 1rem 1rem 1rem;
  }
}

.geo {
  @include flex(_,center,_);
  color: $gray;
  &:hover {
    color: $green;
    svg {
      path {
        fill: none;
        stroke: $green;
      }
    }
  }

  @include media($md) {
    margin-top: 0.5rem;
  }

  svg {
    height: 1.5rem;
  }
}