@use '/src/sass/tools' as *;

.card {
  flex: 0 0 50%;
  height: 224px;
  padding: 16px;
  background-position: bottom 16px right 16px;
  background-size: auto 55%;
  background-repeat: no-repeat;
  outline: 1px solid $gray-light;
  outline-offset: -1px;
  @include transition(0.2s, 0s);

  &:hover, &:focus, &:active {
    outline: 1px solid $gray;
    @include transition(0.2s, 0s);
  }

  @include media($md) {
    background-size: 70% auto;
  }

  p {
    &:first-child {
      font-size: 1.125rem;
      line-height: 1.3125rem;
    }

    &:last-child {
      font-size: 0.875rem;
      line-height: 1rem;
      color: $gray;
    }
  }

  &.active {
    outline: 1px solid $green;
  }
}